// Colors Theme

$primaryColor: #545454;
$secundaryColor: #00C59D;

$secundaryColorHover: #37af96;

// Images Size 

// link colors

$lightColor: #a7a7a7;

// font body

$mainFont: "Roboto";

// backgroud main 

// shadows
